a {
	text-decoration: none !important;
}

#first-page {
	height: 90vh;
}

#second-page {
	background: rgb(255, 255, 255);
	padding-top: 50px;
	padding-bottom: 50px;
}

#third-page {
	background: #99cb9a;
	padding-top: 50px;
	padding-bottom: 50px;
}

#fourth-page {
	background: rgb(255, 255, 255);
	padding-top: 50px;
	padding-bottom: 50px;
}

#fifth-page {
	background: #99cb9a;
	padding-top: 50px;
	padding-bottom: 50px;
}

#brand {
	text-align: left;
	margin: 0;
	/*padding-top: 15px;*/
	padding-left: 60px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
}

.basic-text {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

#brand:hover {
	color: #fff;
}

#brand a {
	color: #fff;
}

#brand a:hover {
	color: black !important;
}

#brand-nav {
	margin: 0;
	width: 100%;
	padding: 30px;
	z-index: 9999;
}

#brand-nav.fixed {
	height: 55px;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.7);
}

/*#news2 a.colorChange {
	color: black !important;
}

#main2 a.colorChange {
	color: black !important;
}

#main a.colorChange {
	color: black !important;
}

#news a.colorChange {
	color: black !important;
}*/

#slogan-wraper {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 38px;
	margin-top: 60px;
	margin-left: 100px;
}

#slogan {
	margin-top: 30px;
}

#slogan span {
	color: black;
}

#dropdown {
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
	padding: 0px !important;
}

#flickr-photos {
	padding-left: 100px;
	padding-right: 100px;
	flex: 1;
}

body {
	background-color: #99cb9a;
	height: 500px;
}

.content-area {
	margin-bottom: 15px;
}

nav {
	height: 40px;
	border-width: 2px 0;
	list-style: none;
	margin: 0;
	padding-right: 36px;
	text-align: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding-top: 26px;
	padding-left: 0px;
	display: inline-block;
}

nav li {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 2;
}

nav li a,
nav li a:focus {
	color: #fff;
}

nav li a:hover {
	color: black !important;
}

#footer {
	background-color: black;
	height: 100px;
	text-align: center;
	color: #CCC;
	padding-top: 40px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

#faq, #news, #contact {
	border-left: 2px solid #ccc;
}

#mobile-nav {
	display: none
}

.navbar-brand {
	text-align: left;
	margin: 0;
	padding-left: 30px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
}

#photofeed img {
	height: 300px;
	width: auto;
	padding-top: 30px;
}

/*MEDIAKYSELYT*/
@media(max-width: 1375px) {
	#photofeed img {
		height: auto;
		width: 100%;
	}
}

@media(max-width: 1000px) {
	nav {
		text-align: center;
	}
	nav li {
		font-size: 14px;
		text-align: center;
	}
	#photofeed img {
		height: auto;
		width: 100%;
	}
	#newsfeed section article {
		float: left;
	}
	#first-page {
		font-size: 15px;
		height: 300px;
	}
	#brand {
		display: none;
	}
	#brand-nav {
		display: none;
	}
	#goose {
		padding-top: 40px;
	}
	.navbar-brand {
		font-size: 20px;
	}
	#slogan-wraper {
		margin-top: 0;
		margin-left:0;
		font-size: 20px;

	}
	#slogan-wraper div {
		border-left: 0px;
		padding-top: 75px;
	}
	#mobile-nav {
		height: 55px;
		width: 100%;
		display: block;
		margin-top: 0px;
		z-index: 9999;
		padding-right: 0px;
		position: fixed;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	.navbar-default {
		background-color: rgb(255, 255, 255);
	}
	#mobile-container {
		padding-left: 0px;
	}
	#flickr-photos {
		padding: 20px;
	}
}
